@model ShopTARgv24.Models.Accounts.ForgotPasswordViewModel

<h2>
    Reset Password
</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Token" type="button" />
            <input asp-for="Email" type="hidden" />

        </form>
    </div>
</div>