body {
    background: linear-gradient(135deg, #74ebd5, #9face6);
    font-family: "Segoe UI", sans-serif;
}

/* ===== Titles ===== */
.page-title {
    text-align: center;
    color: black;
    margin: 40px 0;
    font-size: 42px;
    font-weight: 700;
}

/* ===== Cards ===== */
.weather-card {
    max-width: 420px;
    margin: 30px auto; /* добавил отступ сверху/снизу */
    background: linear-gradient(145deg, #ffffff, #e0e0e0); /* мягкий градиент */
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    /* Hover эффект для карточки */
    .weather-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
    }

h2{
    text-align :center;
    color: black;

}

div {
    text-align: center;
    color: black;
}

.weather-result {
    max-width: 700px;
    margin: 40px auto;
    background: gray;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

/* ===== Inputs ===== */
.form-control {
    border-radius: 12px;
    padding: 12px;
}

/* ===== Button ===== */
.btn-primary {
    border-radius: 12px;
    font-size: 18px;
    background: linear-gradient(135deg, #667eea, #764ba2);
    border: none;
}

/* ===== Weather Grid ===== */
.weather-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.weather-item {
    background: #f4f6fb;
    padding: 20px;
    border-radius: 14px;
    text-align: center;
}

    .weather-item.full {
        grid-column: span 2;
    }

/* ===== City ===== */
.city-name {
    text-align: center;
    font-size: 32px;
    margin-bottom: 25px;
}
